


body {
    margin:0 auto;
    text-align:center;
    background: #264653;
    color:white;
    width:400px;
    font-family: "Bungee Inline";

    }
    
    
h2, h3{
    font-size:50px;
    font-family: 'VT323', monospace;

    padding:10px 15px;
    border-radius:10px;
    margin-bottom:-20px;
    
    
}

    

.buttoms{
    display:flex;
    justify-content:center;
    
}
    
    
    

.click{
    border:2px solid white;
    border-radius:5px;
    padding:8px;
    margin:8px;
    background-color:#264653;
    color:white;
}



#score-btn{
    background:#0a0001;
    font-size:90px;
    color:#F94F6D;
    width:120px;
    margin:20px 30px;
    padding:10px 20px;
}
#score-btnG{
    background:#0a0001;
    font-size:90px;
    color:#F94F6D;
    width:120px;
    margin:20px 30px;
    padding:10px 20px;
    
}

  .container {
    display: flex;
    justify-content: space-around;
    
}
.column{
    padding:10px 15px
}




